<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bet.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bet.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bet.amount %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Participants:</strong><br>
  <% @betters.each do |better| %>
    <table>
      <tr>
        <td><%= better.email %></td>
        <td><%= Position.find_by(bet_id: params[:id], user_id: better.id).position%></td>
      </tr>
    </table>
  <% end  %>
</p>

<% if @admin.id == current_user.id %>
  <%= link_to 'Close Bet', close_bet_path %> |
<% end %>
<%= link_to 'Back', bets_path %>

<h4>Comments:</h4>
<% @bet.comments.each do |c| %>
  <p>
    Commenter: <%= User.find(c.user_id).email %><br>
    <%= c.text%><br>
    <%= image_tag c.photo.url(:medium) %>
  </p>
<% end %>

<h4>Add a comment:</h4>
<%= form_for [@bet, @bet.comments.build], :url => bet_comments_path(@bet), html: {multipart: true} do |f| %>
  Comment: <%= f.text_field :text %><br>
  Uploaded a photo: <%= f.file_field :photo%><br>
  <%= f.submit %><br>
<% end  %>
