<% if current_user %>

  <h1>Welcome back to Friendly Bets, <%= current_user.email %>!</h1>

  <% if @accepted_bets.size > 0  %>
    <h3>Current bets:</h3>
    <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Amount</th>
        <th>My Position</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @accepted_bets.each do |bet| %>
        <tr>
          <td><%= bet.title %></td>
          <td><%= bet.description %></td>
          <td><%= bet.amount %></td>
          <td><%= Position.find_by(bet_id: bet.id, user_id: current_user.id).position%>
          <td><%= link_to 'Show', bet %></td>
          <td><%= link_to 'Invite friends', new_bet_invitation_path(bet) %></td>
          <td><%= link_to 'Discuss', bet %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <%end%>

    <p><%= link_to "Create a new bet", new_bet_path %></p>

    <% if @pending_bets.size > 0  %>
    <h3>Your friends have invited you to the following bets:</h3>
    <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Amount</th>
        <th></th>
        <th>th</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pending_bets.each do |bet| %>
        <tr>
          <td><%= bet.title %></td>
          <td><%= bet.description %></td>
          <td><%= bet.amount %></td>
          <td><%= link_to 'Show', bet %></td>
          <td><%= link_to 'Join', new_bet_position_path(bet)%>
          <td><%= link_to 'Reject', bet_position_path(bet, Position.where(user_id: current_user.id, bet_id: bet.id).take.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <%end%>

    <% if @closed_bets.size > 0  %>
    <h3>Closed bets:</h3>
    <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Did I win?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @closed_bets.each do |bet| %>
        <tr>
          <td><%= bet.title %></td>
          <td><%= bet.description %></td>
          <td><%= bet.amount %></td>
          <td><%= bet.winner_id == current_user.id ? "Yes!" : "No" %>
          <td><%= link_to 'Show', bet %></td>
          <td><%= link_to 'Discuss', bet %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <%end%>

<% else %>

  <h1>Welcome to Friendly Bets!</h1>
  <p>Keep track of wagers with friends.</p>
  <p>How does it work?</p>
  <ol>
    <li>Create a bet.</li>
    <li>Invite friends to join the bet.</li>
    <li>Wait for a better to submit photo evidence.</li>
    <li>Settle up.</li>
  </ol>

<%end%>
